aclocal.m4
AUTHORS
/autom4te.cache
ChangeLog
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
/.deps
install-sh
/m4
Makefile.in
man
missing
NEWS
po
README
README.md
scanpf
scanpf-0.0.1.tar.gz
stamp-h1

src/.deps/
src/.dirstamp
src/scanpf.o
scanpf

# build output
build
!build/Makefile
